<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo" xmlns:util="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
		http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">
    <context:component-scan base-package="com.smartflow.dao,com.smartflow.service">
    </context:component-scan>


    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/view/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

<!-- 配置数据源 服务器2017DEV数据库MESDB-->
    <bean id="dataSource"
          class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.microsoft.sqlserver.jdbc.SQLServerDriver">
        </property>
          <!--<property name="jdbcUrl" value="jdbc:sqlserver://smartflow.diskstation.me\SQL2017DEV:8021;databaseName=MESDB_SXHTDL">-->
          <!--</property>-->
        <property name="jdbcUrl" value="${jdbc.jdbcUrl}">
        </property>
      <!--<property name="jdbcUrl" value="jdbc:sqlserver://192.168.1.6;database=MESDB_SXHTDL">-->
      <!--</property>-->
            <property name="user" value="sa">
            </property>
            <property name="password" value="1qaz@wsx">
            </property>
            <property name="maxIdleTime" value="60">
            </property>
            <property name="initialPoolSize" value="10">
            </property>
            <property name="minPoolSize" value="10">
            </property>
            <property name="idleConnectionTestPeriod" value="100">
            </property>
            <property name="acquireIncrement" value="10">
            </property>
            <property name="acquireRetryAttempts" value="30">
            </property>
            <property name="acquireRetryDelay" value="100">
            </property>
            <property name="autoCommitOnClose" value="true">
            </property>
            <property name="breakAfterAcquireFailure" value="false">
            </property>
    </bean>

    <dubbo:application name="dubbo-demo"/>
    <dubbo:registry address="${zookeeper.address}" check="false" subscribe="false">
    </dubbo:registry>
    <dubbo:protocol name="dubbo" port="20880">
    </dubbo:protocol>

    <dubbo:service interface="com.smartflow.service.CellService" ref="cellServiceImpl">
    </dubbo:service>

    <dubbo:service interface="com.smartflow.service.UserErrorService" ref="userErrorServiceImpl">
    </dubbo:service>

    <dubbo:service interface="com.smartflow.service.UserService" ref="userServiceImpl">
    </dubbo:service>

    <dubbo:service interface="com.smartflow.service.DepartmentService" ref="departmentServiceImpl">
    </dubbo:service>

    <dubbo:service interface="com.smartflow.service.StationService" ref="stationServiceImpl">
    </dubbo:service>
<!-- 配置sessionFactory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource">
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">com.smartflow.util.MySQLServerDialect</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.cache.use_query_cache">true</prop>
                <prop key="hibernate.temp.use_jdbc_metadata_defaults">false</prop>
                <prop key="hibernate.cache.use_second_level_cache">true</prop>
                <prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</prop>
                <prop key="hibernate.cache.configurationResourceName">ehcache.xml</prop>
                <prop key="hibernate.connection.url">jdbc:sqlserver://192.168.1.252\sql2017dev:1433;database=MESDB</prop>
                <prop key="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</prop>
            </props>
        </property>
        <property name="packagesToScan" value="com.smartflow.model">
        </property>
        <property name="annotatedClasses">
            <list>
                <value>com.smartflow.view.StationList</value>
            </list>
        </property>
    </bean>





    <!-- 配置hibernateTemplate -->
    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate4.HibernateTemplate">
        <property name="sessionFactory" ref="sessionFactory">
        </property>
    </bean>

    <!-- 配置事务管理器 -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory">
        </property>
    </bean>

    <!-- 通过注解的方式操作事务 -->
    <tx:annotation-driven proxy-target-class="true"/>

    <!-- 线程池 -->
    <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="5" />
        <property name="maxPoolSize" value="10" />
        <property name="queueCapacity" value="25" />
    </bean>

    <beans profile="development">
        <context:property-placeholder location="classpath:app-development.properties"/>
    </beans>

    <beans profile="production">
        <context:property-placeholder location="classpath:app-production.properties"/>

    </beans>
</beans>
